<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorate="~{layouts/main-layout}"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>eRegister - Home</title>
	</head>
	<body>
		<div class="container" Layout:fragment="content">
			<h3>Welcome to eRegister</h3>
			<hr />
			<img
				th:src="@{/images/home-banner.png}"
				class="img-fluid"
				alt="Home Banner image"
				style="object-fit: cover"
			/>
		</div>
	</body>
</html>
